.five-screen {
  /* margin-bottom: 5000px; */
  /* height: 100vh; */
  padding-bottom: 500px;
}

.five-screen_title {
  color: white;
  margin-top: 200px;
  margin-bottom: 80px;
  margin-left: 10%;
  font-size: 25px;
}

.five-main_feature {
  color: white;
  padding-left: 50px;
}

.five-main > img {
  width: 550px;
  height: 350px;
  margin-right: 50px;
}

.five-main {
  display: flex;
  justify-content: center;
}

.five-main_text {
  padding-top: 100px;
  margin-bottom: 50px;
  font-size: 19px;
}
